/* General styles*/
html{
    font-size: 20px;
}

body{
    font-family: 'Roboto Slob', serif;
}

h1{
    font-size: 2.5rem;
}

h2{
    font-size: 1.8rem;
}

a{
    text-decoration: none;
}

/*Navbar styles*/
.navbar{
    display: flex;
    justify-content: space-between;
    background-color: #5AB0B7;
    color: #FFF;
}

.navbar h1{
    margin: 0.8rem;
}

.navbar ul{
    display: flex;
    flex-wrap: wrap;
    margin: 0.2rem;
}

.navbar li{
    margin: 1.5rem;
    font-size: 1.3rem;
}

.navbar a{
    color: #FFF;
}

/*Sections styles*/
.sections{

}

.container{
    display: flex;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.section-header{
    width: 50%;
}

.section-header h2{
    position: relative;
    left: 40%;
    top: 50%;
}

.section-content{
    width: 50%;
    padding: 0.5rem;
    display: flex;
    flex-wrap: wrap;
}

.project-card{
    margin: 1rem;
    flex-basis: 40%;
}

.main-project{
    flex-basis: 100%;
}

#contact-links{
    display: flex;
}

#contact-links li{
    margin: 0 1.5rem;
}

/* Media queries */
@media screen and (max-width: 2000px) {
    .main-project img{
        width: 850px;
    }
}

@media screen and (max-width: 1600px) {
    .main-project img{
        width: 700px;
    }
}

@media screen and (max-width: 1200px) {
    html{
        font-size: 18px;
    }

    nav{
        flex-direction: column;
    }

    .main-project img{
        width: 550px;
    }
}

@media screen and (max-width: 900px) {
    html{
        font-size: 15px;
    }

    .main-project img{
        width: 400px;
    }
}

@media screen and (max-width: 500px) {
    .main-project img{
        width: 200px;
    }
}

@media screen and (max-width: 300px) {
    .main-project img{
        width: 100px;
    }
}